@CHARSET "UTF-8";

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	padding: 5px;
}

ul {
	padding: 20px;
	list-style-type: none;
	border: 1px solid #BBBBBB;
	background-color: #F9F9F9;
}

ul ul {
	border: none;
	border-top: 1px solid #BBBBBB;
	border-left: 2px dotted #CCCCCC;
	background-color: #EFEFEF;
}

ul ul ul {
	background-color: #E0E0E0;
}

ul ul ul ul {
	background-color: #CFCFCF;
}

ul ul ul ul ul {
	background-color: #E0E0E0;
}

ul ul ul ul ul ul {
	background-color: #EFEFEF;
}

ul ul ul ul ul ul ul {
	background-color: #FFFFFF;
}

li {
	padding: 4px
}

a {
	color: #2368AF;
}

pre {
	padding: 20px;
	background-color: #EEEEEE;
	border: 1px solid #BBBBBB;
	overflow: auto;
}

.info,.success,.warning,.error {
	display: block;
	border: 1px solid;
	margin: 6px 0px;
	padding: 8px 4px 8px 24px;
	background-repeat: no-repeat;
	background-position: 5px center;
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('information.png');
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('success.png');
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('warning.png');
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('error.png');
}