.KelpJSONView
{
    font-family: monospace;
    font-weight: 400;
    font-style:normal;
    font-size:14px;
    background-color: #3F3F3F;
	padding: 6px;
}
.KelpJSONView ol {
	background: transparent;
    width:100%;
    overflow:scroll;
	height: 400px;
	margin: 0;
	padding: 0;
	color: gainsboro;
	list-style-position: inside;
	list-style: none;
}
.KelpJSONView ol li
{
    white-space:nowrap;
	margin-bottom: 0;
}
.jsonhighlight
{
    /* background-color:#eee; */
}
.jsonname
{
    color: #ddddbe;
}
.jsonstring
{
    color: #CC9393;
}

.jsonstring a {
	color: #c79696;
}
.jsonnull
{
    color: #748f74;
}
.jsonnumber
{
    color: #8CD0D3;
}
.jsonboolean
{
    color: #b64B72;
}
.jsontag
{
    color: gainsboro;
}