/bootstrap/compiled.php
/vendor
composer.phar
.env
.DS_Store
Thumbs.db
.idea
behat
php-parse
psysh
behat-guzzle-cookie-data.json
/build/
/enc/
bref
bref-local
carbon
ecs
phpstan
rector
var-dump-server
yaml-lint
phpstan.phar
/api/common/store/
