
#sidebar .active {
    background-color: #0f6ab4;
    color: #EEE;
}


dt {
	margin-top: 20px;
}

#apiurl {
	width: 100%;
}

form.row, form.row input  {
	margin-bottom: 0;
}

#result {
	width: 100%;
	margin-bottom: 20px;
}

.res-display {
    background-color: #e7f0f7;
    margin-top: 0px;
}
.res-display dt {
    background-color: #e7f0f7;
    margin-top: 0px;

}
.res-display h4,
#author-links dd a {
    float: left;
    width: 85px;
    clear: left;
    text-align: right;
    padding-top: 5px;
    color: #111;
}


#res-status,
#author-links dd small {
    margin-left: 90px;
}
#res-status.status-type1 {
    color: magenta;
}
#res-status.status-type2 {
    color: green;
}
#res-status.status-type3 {
    color: cyan;
}
#res-status.status-type4 {
    color: brown;
}
#res-status.status-type5 {
    color: red;
}

#res-result {
    /*overflow-y: scroll;*/
    overflow: auto;
    font-size: smaller;
    color: #111;
    padding: 0px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    float: left;
    margin-top: -10px;
    padding-bottom: 8px;
    margin-bottom: -10px;

}
#res-result dt {
    float: left;
    width: 85px;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    line-height: 17px;
    margin-top: 0px;
    padding-right: 5px;
}
#res-result dd {
    margin-left: 90px;
    line-height: 18px;
}
#result ol {
    width: 100%;
}
#head-title {
    background: transparent url(http://luracast.com/images/restler3-icon.png) no-repeat;
    padding-left: 35px;
}
#result-edit {
    height: 550px;
    width: 100%;
    color: #fff;
    margin-bottom: 20px;
    margin: 0px;
    padding: 0px;
    overflow: scroll;
    border-bottom-style: solid;
    border-width: 6px;
    border-color: #3F3F3F;

}
#sidebar #author-links dd a {
    padding-right: 10px;
    padding-bottom: 10px;
}
#sidebar #author-links dd small  {
    font-size: 9px;
    font-family: courier;
    color: #666;
    line-height: 38px;
    margin-left: 10px;
}
