* { outline: 0; }
html, body { min-height: 100%;  }
body, ul, ol, dl { margin: 0; }
img { border: 0; }
article, aside, audio, footer, header, nav, section, video { display: block }
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border : 0px; }
input[type="search"] { -webkit-appearance: textfield; }
input[type="submit"] { -webkit-appearance:none; }
img.right { float: right; margin-left: 2em; clear: right; }
img.left { float: left; margin-right: 2em; clear: left; }
table { border-collapse: collapse; }
th { background: #000; color: #fff; }
td { padding: 1em; border: 1px solid black; }
body {
    margin: 0 auto;
    font-family: Georgia, Palatino, serif;
    color: #444444;
    line-height: 1;
    max-width: 960px;
    padding: 0 30px 30px;
    background-color: #E6E2DF;
}

h1,h2,h3,h4 {
    color: #111111;
    font-weight: 400;
}

article h1,article h2,article h3,article h4,article h5,article p {
    margin-bottom: 24px;
    padding: 0;
}

article h1 {
    font-size: 48px;
}

article h2 {
    font-size: 36px;
    margin: 24px 0 6px;
    margin-top: .5em !important;
    border-top: 4px solid #E0E0E0 !important;
    padding-top: .5em !important;
}

article h3 {
    font-size: 24px;
}

article h4 {
    font-size: 21px;
}

article h5 {
    font-size: 18px;
}

a {
    color: #0099ff;
    padding: 0;
    vertical-align: baseline;
    margin: 0;
    text-decoration: none;
}

a:hover,a:active,a:focus {
    background-color: #0099ff;
    text-decoration: none;
    color: white;
}

ul,ol {
    padding: 4px 20px 0px;
    margin: 0;
}

li {
    line-height: 24px;
}

blockquote ul {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

blockquote ul li {
    text-align: left;
    float: left;
    list-style: none;
    padding: 4px;
    width: 220px;
}
p,article.ul,article.ol {
    font-size: 16px;
    line-height: 24px;
    max-width: 540px;
}

footer {
    margin-left: 120px;
    padding: 0;
    text-align: right;
    max-width: 640px;
}

footer img{
    vertical-align: text-bottom;
}

footer a, footer a:hover{
    background: none;
}

article {
    background: white;
    position: relative;
    padding: 25px 50px;
    min-width: 380px;
    max-width: 550px;
    /*
    margin: 50px 0;
    padding: 25px 210px 0 30px;
    */
    margin-top: 50px;
    margin-left: 120px;
    margin-bottom: 10px;
    margin-right: 180px;
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: top right;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}

article:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10px solid #E6E2DF;
    border-left: 10px solid #E6E2DF;
    border-bottom: 10px solid #d9d3cf;
    border-right: 10px solid #d9d3cf;
}

article pre {
    padding: 13px;
    background: #2d2d2d;
    /* max-width: 600 px; */
    color: #b4b4b4;
    overflow: auto;

    background: rgb(19,24,25); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(19,24,25,1) 0%, rgba(13,15,14,1) 50%, rgba(1,1,1,1) 51%, rgba(1,1,1,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(19,24,25,1)), color-stop(50%,rgba(13,15,14,1)), color-stop(51%,rgba(1,1,1,1)), color-stop(100%,rgba(1,1,1,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(19,24,25,1) 0%,rgba(13,15,14,1) 50%,rgba(1,1,1,1) 51%,rgba(1,1,1,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(19,24,25,1) 0%,rgba(13,15,14,1) 50%,rgba(1,1,1,1) 51%,rgba(1,1,1,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(19,24,25,1) 0%,rgba(13,15,14,1) 50%,rgba(1,1,1,1) 51%,rgba(1,1,1,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(19,24,25,1) 0%,rgba(13,15,14,1) 50%,rgba(1,1,1,1) 51%,rgba(1,1,1,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131819', endColorstr='#010101',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#php {
    padding: 4px;
    color: #ffffff;
    background: #000000;
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
}
code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    background: #ffffdd;
    font-size: 14px;
    white-space: nowrap;
}

pre code {
    line-height: 1.5;
    background-color: transparent;
    font-size: 13px;
    white-space: inherit;
}

abbr {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: blue;
    opacity: 0.45;
    color: white;
    padding: 4px;
    cursor: help;
}

abbr:HOVER {
    opacity: 0.6;
    background: black;
}

a abbr,a abbr:HOVER {
    background: inherit;
    color: inherit;
    opacity: inherit;
    border: inherit;
    cursor: inherit;
    padding: inherit;
}

aside {
    display: block;
    float: right;
    width: 390px;
}

blockquote {
    /*
    margin: 1em 2em;
    max-width: 476px;
    */
    margin: 0px;
    padding: 10px;
    background-color: #fffcf5;
	border-top: 4px solid #faf1d7;
	border-bottom: 4px solid #faf1d7;
}

blockquote p {
    color: #666;
    /* max-width: 460px; */
    margin: 0;
}

hr {
    width: 540px;
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
}

dl {
    margin: 2em 0;
    padding: 0;
    /* max-width: 476px; */
}

dt {
    font-family: Fixed, monospace;
    padding: .5em;
    background-color: #E1F1F7;
    border-top: 4px solid #002943;
    padding: .5em;

    background: rgb(250,251,252); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(250,251,252,1) 0%, rgba(240,244,246,1) 50%, rgba(226,232,236,1) 51%, rgba(243,249,253,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,251,252,1)), color-stop(50%,rgba(240,244,246,1)), color-stop(51%,rgba(226,232,236,1)), color-stop(100%,rgba(243,249,253,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(250,251,252,1) 0%,rgba(240,244,246,1) 50%,rgba(226,232,236,1) 51%,rgba(243,249,253,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(250,251,252,1) 0%,rgba(240,244,246,1) 50%,rgba(226,232,236,1) 51%,rgba(243,249,253,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(250,251,252,1) 0%,rgba(240,244,246,1) 50%,rgba(226,232,236,1) 51%,rgba(243,249,253,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(250,251,252,1) 0%,rgba(240,244,246,1) 50%,rgba(226,232,236,1) 51%,rgba(243,249,253,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafbfc', endColorstr='#f3f9fd',GradientType=0 ); /* IE6-9 */
}

dd {
    margin: 0 0 1em 0;
    padding: .5em;
    background-color: #002943;

    background: rgb(10,21,34); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(10,21,34,1) 0%, rgba(14,33,48,1) 50%, rgba(12,29,44,1) 51%, rgba(19,46,67,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(10,21,34,1)), color-stop(50%,rgba(14,33,48,1)), color-stop(51%,rgba(12,29,44,1)), color-stop(100%,rgba(19,46,67,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(10,21,34,1) 0%,rgba(14,33,48,1) 50%,rgba(12,29,44,1) 51%,rgba(19,46,67,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(10,21,34,1) 0%,rgba(14,33,48,1) 50%,rgba(12,29,44,1) 51%,rgba(19,46,67,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(10,21,34,1) 0%,rgba(14,33,48,1) 50%,rgba(12,29,44,1) 51%,rgba(19,46,67,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(10,21,34,1) 0%,rgba(14,33,48,1) 50%,rgba(12,29,44,1) 51%,rgba(19,46,67,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a1522', endColorstr='#132e43',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

dd pre {
    border: none;
    padding: 0;
    background: none;
}

ol.toc li {
    clear: left;
    border-bottom: dashed 1px #aaa;
    height: 1.05em;
    margin-top: 20px;
    position: relative;
    margin-top: 20px;
    height: 1.05em;
}

ol.toc li:HOVER {
    color: #0099ff;
    border-bottom: dashed 1px #0099ff;
}

ol.toc li:HOVER small {
    color: #7FCCFF;
}

ol.toc a {
    text-decoration: none;
    color: inherit;
}

ol.toc .right,ol.toc span {
    background: #fff;
    padding: 0 3px 0 0;
    float: left;
    position: absolute;
    text-decoration: none;
}

div.right {
    float:right;
}

a img {
    vertical-align: text-bottom;
}

ol.toc .right {
    padding: 0 0 0 3px;
    right: 0;
}

ol.toc a:HOVER {

}

ol.toc ol {
    list-style: lower-roman;
    margin: 1.5em 0 1em 5%;
    padding: 0;
    background: #fff;
    float: left;
    display: block;
    width: 95%;
}

ol.toc small {
    color: #a999a9;
}
/**
 * Right side
 */
#right {
    top: 42px;
    right: 32px;
    width: 160px;
    position: fixed;
}

#right h3 a {
    /*font: normal 20px Helvetica, Verdana, Tahoma;*/
    overflow: hidden;
    background-color:#cfc4ba;
    color: white;
    display: block;
    padding: 8px 20px;
    width: 160px;
    border-color:#BF9573;
    border-width:1px;
    border-style: dotted;
    outline: 1px rgba(0, 0, 0, .1) dashed;
    outline-offset: -6px;

    /* Firefox v1.0+ */
    -moz-border-radius:10px 0px 0px 10px;
    /* Safari v3.0+ and by Chrome v0.2+ */
    -webkit-border-radius:10px 0px 0px 10px;
    /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
    border-radius:10px 0px 0px 10px;

    /* Firefox v3.5+ */
    -moz-box-shadow:inset 0px 0px 4px 3px rgba(0,0,0,0.07);
    /* Safari v3.0+ and by Chrome v0.2+ */
    -webkit-box-shadow:inset 0px 0px 4px 3px rgba(0,0,0,0.07);
    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+  and by Opera v10.5+ */
    box-shadow:inset 0px 0px 4px 3px rgba(0,0,0,0.07);

}
#right h3 a:HOVER {
    background-color: #BAAB9C;
}
/**
 * Left side
 */
#left {
    position: fixed;
    top: 32px;
    bottom: 0;
    left: 0;
    height: auto;
    width: 136px;
    margin: 0;
    padding: 7px 0 7px 7px;
    overflow: auto;
    background: black;
    line-height: 1.6;
}

#left img {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

#left h3 {
    color: white;
    border-bottom: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
}

#left a {
    color: #bbccff;
    display: block;
    padding: 0 5px 0 5px;
}

#left a:hover {
    color: white;
}

#left ul {
    list-style: none;
    padding: 0 0 0 0px;
    margin: 0;
    color: white;
}

#left li {
    white-space: nowrap;
}

#left ul ul {
    padding-left: 10px;
}

#left a.active {
    color: black;
    background: #E6E2DF;
    border-left: 4px solid #AA0000;
}

ul.tags{
    margin: 0 auto;
    padding: 0;
}

ul.tags li {
    text-align: left;
    float: left;
    list-style: none;
    padding: 2px;
}

.collapsed {
    display: none;
}

nav.floating-menu {
    height: 32px;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    position: fixed;
    background: #000000;
    border: 0;
    width: 100%;
    z-index: 100;
    overflow: hidden;
    /*
    background: -moz-linear-gradient(bottom, #aaa, #000 50%);
    background: -webkit-gradient(linear, center bottom, center top, from(#aaa),
        color-stop(50%, #000) );
    */
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}

nav.floating-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav.floating-menu li {
    float: left;
}

nav.floating-menu a:link,
nav.floating-menu  a:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    /*display: block;
    width: 120px; */
    color: #cccccc;
    text-align: center;
    padding: 4px 20px 20px 20px;
    text-decoration: none;
    text-transform: none;
    /*
    border-left: 1px solid #222;
    border-right: 1px solid #bbb;
    */
}

nav.floating-menu a:hover,
nav.floating-menu  a:active,
nav.floating-menu  a.active {
    color: white;
    background: #333;
    /*
    border-top: 3px solid #aa0000;
    background-color: #ddd;
    background: -moz-linear-gradient(bottom, #ddd, #aaa 50%);
    background: -webkit-gradient(linear, center bottom, center top, from(#ddd),
        color-stop(50%, #aaa) );
    -moz-box-shadow: 0 0 10px #000000;
    */
}

nav.floating-menu  a.active {
    border-top: 3px solid #aa0000;
}

tag {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #0099ff;
    padding: 1px 3px 2px;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

li tag{
    background-color: #72828C;
    cursor: help;
}
li tag:Hover{
    background-color: #0099ff;
}

badge {
    font-family: 'Helvetica Neue', sans-serif;
    padding: 1px 5px 2px;
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #b94a48;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    position:relative;
    right:4px;
    top:-6px;
}
/*
badge {
    background: radial-gradient( center -9px, circle closest-side, white 0, red 26px );
    background: -moz-radial-gradient( center -9px, circle closest-side, white 0, red 26px );
    background: -ms-radial-gradient( center -9px, circle closest-side, white 0, red 26px );
    background: -o-radial-gradient( center -9px, circle closest-side, white 0, red 26px );
    background: -webkit-radial-gradient( center -9px, circle closest-side, white 0, red 26px );
    background-color: red;
    border: 2px solid white;
    border-radius: 12px; /* must be 1/2 of ( border-width*2 + width ) *//*
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 17px/15px Helvetica, Verdana, Tahoma;
    height: 18px; /* height + padding-top must equal width *//*
    padding-top: 2px; /* height + padding-top must equal width *//*
    text-align: center;
    width: 20px;
}
*/

.popover {
    font-family: Georgia, Palatino, serif;
    font-size: 13px;
}

.popover-title {
    margin: 0;
}

.popover-content, .popover-content p {
    margin: 0;
}

.popover-content a {
    display : block;
    padding: 0px 5px 0px 5px;
}

requires {
    margin:0;
    right:24px;
    bottom:-12px;
    margin-left:20px;
    padding:0 10px 0 12px;
    background:#767AAE;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
    float:right;
    height:24px;
    line-height:24px;
    position:relative;
    font-size:11px;
}

requires:before{
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:-12px;
    width:0;
    height:0;
    border-color:transparent #767AAE transparent transparent;
    border-style:solid;
    border-width:12px 12px 12px 0;
}

requires:after{
    content:"";
    position:absolute;
    top:10px;
    left:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #004977;
    -webkit-box-shadow:-1px -1px 2px #004977;
    box-shadow:-1px -1px 2px #004977;
}

/*
	Generic Styling, for Desktops/Laptops
	*/
	table {
		width: 100%;
		border-collapse: collapse;
	}
	/* Zebra striping */
	tr:nth-of-type(odd) {
		background: #f5f5f5;
	}
	th {
		background: #505050;
		color: white;
		font-weight: normal;
	}
	td, th {
		padding: 6px;
		border: 1px solid #cccccc;
		text-align: left;
	}
