{% extends "oauth2/server/base.twig" %}

{% block content %}
    <p>
        <strong>Demo App</strong> would like to access the following data:
    </p>
    <ul>
        <li>friends</li>
        <li>memories</li>
        <li>hopes, dreams, passions, etc.</li>
        <li>sock drawer</li>
    </ul>
    <p>It will use this data to:</p>
    <ul>
        <li>integrate with friends</li>
        <li>make your life better</li>
        <li>miscellaneous nefarious purposes</li>
    </ul>
    <ul class="authorize_options">
        <li>
            <form action="{{ 'authorize' ~ '?' ~ response.queryString }}" method="post">
                <input type="submit" class="button authorize"
                       value="Yes, I Authorize This Request"/>
                <input type="hidden" name="authorize" value="1"/>
            </form>
        </li>
        <li class="cancel">
            <form id="cancel" action="{{ 'authorize' ~ '?' ~ response.queryString }}"
                  method="post">
                <a href="#"
                   onclick="document.getElementById('cancel').submit()">cancel</a>
                <input type="hidden" name="authorize" value="0"/>
            </form>
        </li>
    </ul>
{% endblock %}